.footer {
  background: #111;
  color: white;
  padding: 40px 60px;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left h3 {
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 14px;
  color: #ccc;
}

.footer-right p {
  font-size: 14px;
  margin: 5px 0;
  color: #aaa;
}
