.admin-page {
  padding: 40px;
}

.add-product-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.add-product-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-product-form button {
  padding: 8px 15px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.admin-table button {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
}
